header section{
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-story{
    height: 35px;
    width: 35px;
    align-items: center;
    border-radius: 100%;
}

.online{
    color: lawngreen;
}

.userView{
    display: grid;
    align-items: center;
}


#userStatus{
    font-size: small;
    color: rgba(10, 10, 10, 0.6);
}

.chat-right{
    user-select: none;
    display: flex;
    gap: 6px;
}

.chat-right .svg{
    width: 18px;
    height: 18px;
    color: #007bff98;
    transition: all ease 5ms;
}

.chat-right .svg:hover {
    color: #007bff;
}

.chat-right div{
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    place-content: center;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    border-radius: 500px;
}

.chat-right div:hover{
    cursor: pointer;
    background: rgba(200, 200, 200, 0.5);
}

#back{
    user-select: none;
    display: flex;
    place-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    font-size: larger;
    width: 60px;
    height: 40px;
    transition: all ease-in-out 100ms;
    padding-inline: 4px;
}

#back:active{
    cursor: pointer;
    background: rgb(201, 201, 201);
}
#back:hover{
    cursor: pointer;
}

.chat-footer{
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: space-between;
    padding: 10px;
}
.chat-footer *{
    border: none;
    place-content: center;
}


#upload{
    border: none;
    color: #007bff;
    border-radius: 100%;
    place-content: center;
    align-content: center;
    transition: all ease 200ms;
}
#upload:active, #upload:hover{
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
#upload:active{
    rotate: 180deg;
}

.chat-main{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.chat-main, #chat-input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#chat-input{
    user-select: all;
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 0.5px solid #007bff;
    border-radius: 10px;
    background:rgba(240, 240, 240, 0.923);
    align-items: center;
    font-size: 14px;
    transition: all ease-in-out 500ms;
    margin-inline: 5px;
}

#chat-input:focus{
    border: 1px solid #007bff;
}

#voice-note, .voice-note{
    display: flex;
    opacity: 1;
    transform: rotate(0deg);
    transition: opacity 0.5s ease-in-out;
    animation: rotate 3s infinite linear;
}

.msgContent{
    word-break: break-all;
}

.msgElement{
    display: grid;
    width:fit-content;
    max-width: 70%;
    align-content: center;
    height:auto;
    padding: 5px;
    font-size: 14px;
    border: none;
    gap: 2px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: all ease-in-out 500ms;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#recieved{
    color: white;
    background: #007bff;
    float: left;
    border-top-left-radius: 1px;
}

.msgDiv{
    width: 100%;
    height: max-content;
}

#sent{
    color: black;
    background:rgba(240, 240, 240, 0.9);
    border-bottom-right-radius: 1px;
    float: right;
}

.last{
    border-bottom-right-radius: 1px;
}

.time{
    transition: all ease-in-out 500ms;
    display: block;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding-bottom: 0px;
    padding-top: 2px;
    bottom: 0;
    transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out;
}

.first{
    letter-spacing: 0.6px;
    display: flex;
    gap: 8px;
    width: 50%;
    align-content: center;
}

#onlineStatus{
    color: rgb(50, 255, 0);
}

.userView{
    padding-top: 6px;
}

#userName{
    font-weight: bold;
    color: black;
    margin-bottom: 4px;
    user-select: text;
}


#userPics{
    user-select: none;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

#profilePics{
    background: rgba(255, 255, 255, 0);
    display: flex;
    place-content: center;
    align-items: center;
    object-fit:cover;
    padding: 2px;
    border-radius: 100px;
}

.story{
    border: 2px solid #007bff;
}