.code-input{
    display: flex;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.code-box{
    border: 2px solid rgb(163, 163, 163) ;
    border-radius: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: inline-block;
}

.code-box:focus{
    border: 2px solid #007bff;
}

#back{
    display: flex;
    background-color: rgba(128, 128, 128, 0.623);
    border: none;
    place-content: center;
    font-weight: bolder;
    width: 30px;
    margin: -15px;
    height: 30px;
    border-radius: 100%;
    padding: 5px;
}
